@using BusinessHandler.Model;
@using BusinessHandler.MessageHandler;
@{ 
    var user = (UserAccount)Session["UserAccount"];
}
<script>
    @{
        if(user!=null)
        {
               <text>
       var currentUser= "@user.Email";

    </text>
        }
    }
  
    jQuery(document).ready(function ($) {
        var currentMenu = sessionStorage.getItem("currentMenu");
        $("ul.navbar-nav").find("a").each(function () {
            $(this).removeClass("menuActive");
            if ($(this).attr("data-menu") == currentMenu) {
                $(this).addClass("menuActive");
            }
        });
        $("a.redirectMap").click(function () {
            sessionStorage.setItem("currentMenu", $(this).attr("data-menu"));
            if ($(this).attr("data-menu") == "MI" || $(this).attr("data-menu") == "MA" || $(this).attr("data-menu") == "MO") {
                sessionStorage.setItem("currentState", $(this).attr("data-state"));
                var url = '@Url.Action("Map", "Home")';
                window.location.href = url + "?state=" + $(this).attr("data-state");
            }
            if ($(this).attr("data-menu") == "NO") {
                var url = '@Url.Action("Index", "MeetingNote")';
                window.location.href = url;
            }
            if ($(this).attr("data-menu") == "MC") {
                var url = '@Url.Action("MaintainUser", "Account")';
                window.location.href = url;
            }

        });
    });
</script>

<div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#F5F5F5; border-color:#F5F5F5; margin-bottom:0px;">

    @if (user != null)
    {

        <div class="row" >
            <div class="col-md-2 hidden-xs hidden-sm">
                <div style="margin-top:10px; margin-left:15px">
                    <a href="/Home/Map"> <img src="~/Image/MiMapLogo1.png" /></a>
                </div>
            </div>
            <div class="col-md-10">
                <div class="container" >
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" id="small-menu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">

                        <ul class="nav navbar-nav navbar-right ">
                            <li><a href="javascript:void(0)">Hello @user.Email</a></li>
                            <li>@Html.ActionLink("Dashboard", "Index", "Home", routeValues: null, htmlAttributes: new { id = "Dashboard" })</li>
                            <li><a  class="redirectMap" href="javascript:void(0)" data-state="MI" data-menu="MI">Michigan</a></li>
                            <li><a  class="redirectMap" href="javascript:void(0)" data-state="MA" data-menu="MA">Massachusetts</a></li>
                            <li><a class="redirectMap" href="javascript:void(0)" data-state="MO" data-menu="MO">Missouri</a></li>
                            <li><a class="" href="javascript:void(0)" data-menu="FL">Florida</a></li>
                            <li><a  class="redirectMap" href="javascript:void(0)" data-menu="NO">Notes</a></li>
                            @{
                                if (user.RoleType == GlobalKeyString.roleTypeAdmin)
                                {
                                    <li><a class="redirectMap"  href="javascript:void(0)" data-menu="MC">Manage Account</a></li>
                                } 
                            }
                            <li>@Html.ActionLink("Log off", "Login", "Account", routeValues: null, htmlAttributes: new { id = "logoffLink" })</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            </div>
        </div>
    }
</div>