@using BusinessHandler.Model;
@using BusinessHandler.MessageHandler;
@{ 
    var user = (UserAccount)Session["UserAccount"];
}
<script>
    @{
        if(user!=null)
        {
               <text>
       var currentUser= "@user.Email";

        </text>
        }
    }
</script>

<div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#F5F5F5; border-color:#F5F5F5; margin-bottom:0px;">

    @if (user != null)
    {

        <div class="row" >
            <div class="col-md-2 hidden-xs hidden-sm">
                <div style="margin-top:10px; margin-left:15px">
                    <a href="/Home/Map"> <img src="~/Image/MiMapLogo1.png" /></a>
                </div>
            </div>
            <div class="col-md-10">
                <div class="container" >
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" id="small-menu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">

                        <ul class="nav navbar-nav navbar-right ">
                            <li><a href="#">Hello @user.Email</a></li>
                            <li><a href="/Home/Map">Michigan</a></li>
                            <li><a href="#">Massachusetts</a></li>
                            <li><a href="#">Florida</a></li>
                            <li><a href="/MeetingNote/Index">Notes</a></li>
                            @{
                                if (user.RoleType == GlobalKeyString.roleTypeAdmin)
                                {
                                    <li><a href="/Account/MaintainUser">Manage Account</a></li>
                                }
                            }
                            <li>@Html.ActionLink("Log off", "Login", "Account", routeValues: null, htmlAttributes: new { id = "logoffLink" })</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            </div>
        </div>
    }
</div>