@using BusinessHandler.Model;
@using Newtonsoft.Json;
@using System.Configuration;
@{

    ViewBag.Title = "MI Municipality Public Meeting Search";
    var model = (List<DocQueryResultModel>)Model;
    var keyWords = ConfigurationManager.AppSettings["KeyWords"].Split(';');

}
<h2>MI Municipality Public Meeting Search</h2>
<script>

    @{foreach (var r in model.Select(x => x.CityName).Distinct().ToList())
        {

            var cityName = r;
            var dates = model.Where(x => x.CityName.Equals(r)).Select(y => y.MeetingDateDisplay).Distinct().ToArray();
            var json = new HtmlString(JsonConvert.SerializeObject(dates));
           <text>
    sessionStorage.setItem("@cityName", '@json');
       </text>

        }
        }
</script>
<div class="panel-body" style="padding-bottom:0px; padding-left:0px">

    <div class="col-xs-2" style="padding-left:0px" id="div-query">
        <ul class="list-group" id="ul_queryGourp">
            <li class="list-group-item active">
                Query Group
            </li>
            @{
                var searchQueryList = (List<SearchQueryModel>)ViewData["searchQuery"];
                if (searchQueryList.Any())
                {
                    foreach (var r in searchQueryList)
                    {
                        <li class="list-group-item"  id="query_@r.Guid">
                            <a href="JavaScript:void(0)" onclick="SearchFromQuery(@r.Content,'@r.Guid')" style="color:#333333;" title="@r.Title">
                              
                                @{
                                    var str = r.Title.Length > 15 ? r.Title.Substring(0, 12) + "..." : r.Title;
                                }
                                @str
                                    
                            </a>
                            <span style="cursor:pointer;" class="badge editIcon" data-title="@r.Title" data-content="@r.Content" onclick="ShowQueryDetail(this) ;return false" data-query-guid="@r.Guid" >Edit</span>
                        </li>
                    }
                }
            }
           
        </ul>
    </div>
    <div class="col-xs-10" style="padding-left:0px">
        <div class="panel panel-default">
            <div class="panel-heading">Searh Criteria</div>
            <div>
                <form id="formSearch" class="form-horizontal">
                    <div class="form-group" style="margin-top:15px">
                        <label class="control-label col-md-1" for="txt_search_CityName " style="width:10%">City:</label>
                        <div class="col-md-2">
                            <select id="sel_search_CityName" multiple="multiple">
                                @{
                                foreach (var r in model.GroupBy(x => x.CityName))
                                {
                                        <option value="@r.Key">@r.Key</option>
                                    }
                                }

                            </select>
                            @*<input type="text" class="form-control" id="txt_search_CityName">*@
                        </div>
                        <label class="control-label col-md-1" for="txt_search_MeetingDate" style="width:15%">Meeting Date:</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" id="txt_search_MeetingDate">
                        </div>
                        <label class="control-label col-md-1" for="sel_search_KeyWord" style="width:10%">Key Word:</label>
                        <div class="col-md-2">
                            @*<input type="text" class="form-control" id="txt_search_KeyWord">*@
                            <select id="sel_search_KeyWord" multiple="multiple">
                                @{
                                foreach (var r in keyWords)
                                {
                                        <option value="@r">@r</option>

                                }
                                }

                            </select>

                        </div>
                        <div class="col-md-1" style="text-align:left;">
                            <button type="button" style="margin-left:10px" id="btn_Query" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <table id="tb_departments"></table>

        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Comments</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hid_DocId" />
                <input type="hidden" id="hid_FilePath" />
                <input type="hidden" id="hid_QueryGuid" />
                <textarea class="form-control" rows="3" id="txt_Comments"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="cursor:pointer">Close</button>
                <button type="button" class="btn btn-primary" id="btn_Save_Comment">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="queryModal" tabindex="-1" role="dialog" aria-labelledby="queryModalLabel" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Query Detail</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="query-title" class="control-label">Query Title:</label>
                        <input type="text" class="form-control" id="query-title">
                    </div>
                    <div class="form-group">
                        <label for="query-content" class="control-label">Query Content:</label>
                        <pre  id="query-content"></pre> 
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn_SaveQuery">Save</button>
                <button type="button" class="btn btn-danger" id="btn_DeleteQuery">Delete</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var oTable = new TableInit();
        oTable.Init();

        var oButtonInit = new ButtonInit();
        oButtonInit.Init();

    });

    var TableInit = function () {
        var oTableInit = new Object();
        oTableInit.Init = function () {
            $('#tb_departments').bootstrapTable({
                url: '/Home/GetParentDataList',
                method: 'get',
                cache: false,
                pagination: true,
                sortable: true,
                queryParams: oTableInit.queryParams,
                sidePagination: "server",
                pageList: [10, 25, 50, 100],
                showColumns: true,
                detailView: true,
                achillesToolbar:true,
                columns: [
                    {
                        field: 'DocUrl',
                        title: ' Document',
                        sortable: true,
                        width:'15%'
                    },
                    {
                          field: 'DocType',
                          title: 'Type',
                          sortable: true,
                          width: '18%'
                    },
                     {
                         field: 'CityNameDispaly',
                         title: 'City',
                         sortable: true,
                         width: '18%'
                     },
                      {
                          field: 'MeetingDateDisplay',
                          title: 'Meeting Date',
                          sortable: true,
                          width: '10%'
                      },
                       {
                           field: 'ScrapeDate',
                           title: 'Scrape Date',
                           sortable: true,
                           width: '10%'
                       },
                    {
                        field: 'Number',
                        title: 'Number',
                        sortable: true,
                        width: '5%'
                    },
                    {
                        field: 'IsViewed',
                        title: 'Viewed',
                        sortable: true,
                        width: '7%'
                    },
                    {
                        field: 'ImportantDisplay',
                        title: 'Removed',
                        sortable: true,
                        width: '17%'
                    }
                ],

                onExpandRow: function (index, row, $detail) {
                    oTableInit.InitSubTable(index, row, $detail);
                },
                onLoadSuccess: function (data) {
                    for (var i = 0; i < data.rows.length; i++) {
                        var doc = data.rows[i];
                        sessionStorage.setItem(doc.DocId, JSON.stringify(doc.DocQuerySubList));
                    }
                    $("#tb_departments").children().eq(1).children().each(function () {
                        if ($(this).children(":last").prev().children().html() == "No") {
                            $(this).css("background-color", "#eee");
                        }
                    });
                },

            });
        };


        oTableInit.queryParams = function (params) {
            var keyWord = "";
            var cityName = "";
            var isViewed = "";
            var isImportant = "";
            if ($("#sel_search_KeyWord").val() != null)
            {
                keyWord = $("#sel_search_KeyWord").val().toString();
            }
            if ($("#sel_search_CityName").val() != null) {
                cityName = $("#sel_search_CityName").val().toString();
            }
            if ($("#div_status_select").attr("data-status") != null) {
                isViewed = $("#div_status_select").attr("data-status");
            }
            if ($("#div_status_select").attr("data-important") != null) {
                isImportant = $("#div_status_select").attr("data-important");
            }

            var temp = {
                limit: params.limit,
                offset: params.offset,
                CityName: cityName,
                MeetingDate: $("#txt_search_MeetingDate").val(),
                KeyWord: keyWord,
                IsViewed: isViewed,
                Important: isImportant,
                sortName: this.sortName,
                sortOrder: this.sortOrder
            };
            return temp;
        };

        oTableInit.InitSubTable = function (index, row, $detail) {
            var parentid = row.DocId;
            var filePath = row.DocFilePath;
            var isViewed = $(".sp_" + parentid).html();
            if (isViewed != "Yes") {
                $.ajax({
                    url: '@Url.Action("UpdateDocStatus", "Home")',
                    data: { DocId: parentid, DocFilePath: filePath },
                    dataType: 'json',
                    type: "POST",
                    success: function (result) {
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                        $(".sp_" + parentid).html("Yes");
                        $(".sp_" + parentid).parent().parent().css("background-color", "#fff");
                    },
                    error: function (xhr, textStatus, errorThrown) {

                    }
                });
            }
            var dataList = JSON.parse(sessionStorage.getItem(parentid));
            var cur_table = $detail.html('<table></table>').find('table');
            $(cur_table).bootstrapTable({
                data: dataList,
                columns: [


                    {
                        field: 'PageNumber',
                        title: 'Page',
                        sortable: true,
                        width: '5%'
                    },

                    {
                        field: 'KeyWord',
                        title: 'Key Word',
                        sortable: true,
                        width: '15%'
                    },

                    {
                        field: 'Content',
                        title: 'Content',
                        width: '60%'
                    },
                    {
                        field: 'Comment',
                        title: 'Comment',
                        width: '10%'
                    },
                    {
                        field: 'Operation',
                        title: 'Operation',
                        align: 'center',
                        width: '10%'
                    }
                ],

            });
        };

        return oTableInit;
    };


    var ButtonInit = function () {
        var oInit = new Object();
        var postdata = {};

        oInit.Init = function () {
            //初始化页面上面的按钮事件
        };

        return oInit;
    };

    $(document).ready(function () {
       // loadQueryGroup();
        $('#sel_search_CityName').multiselect({
            buttonWidth: '160px',
            includeSelectAllOption: true
        });
        $('#sel_search_KeyWord').multiselect({
            buttonWidth: '160px',
            includeSelectAllOption: true
        });
        $('#txt_search_MeetingDate').datepicker({
            format: 'yyyy-mm-dd'
        });
        $("#btn_Query").click(function () {

            var data = SearchData();
            $.ajax({
                url: '@Url.Action("SaveSearchQuery", "Account")',
                data: { query: JSON.stringify(data) },
                dataType: 'json',
                type: "POST",
                success: function (result) {
                },
                complete: function (XMLHttpRequest, textStatus) {

                },
                error: function (xhr, textStatus, errorThrown) {

                }
            });

        });
        $("#btn_Save_Comment").click(function () {
            $.ajax({
                url: '@Url.Action("SaveComment", "Home")',
                data: { DocId: $("#hid_DocId").val(), Comment: $("#txt_Comments").val(), QueryFilePath: $("#hid_FilePath").val(), QueryGuid: $("#hid_QueryGuid").val()},
                dataType: 'json',
                type: "POST",
                success: function (result) {
                    alert("success");
                },
                complete: function (XMLHttpRequest, textStatus) {
                    $('#' + $("#hid_QueryGuid").val()).html($("#txt_Comments").val());
                    $("#myModal").modal('hide');
                },
                error: function (xhr, textStatus, errorThrown) {

                }
            });
        });
        $("#btn_SaveQuery").click(function () {
            var queryGuid = sessionStorage.getItem("QueryGuid");
            $.ajax({
                url: '@Url.Action("UpdateSearchQuery", "Account")',
                data: { guid: queryGuid, title: $("#query-title").val() },
                dataType: 'json',
                type: "POST",
                success: function (result) {
                },
                complete: function (XMLHttpRequest, textStatus) {
                    var title = $("#query-title").val();
                    var str = title.length > 15 ? title.substring(0, 12) + "..." : title;
                    $('#query_' + queryGuid).children().eq(0).html(str);
                    $("#queryModal").modal('hide');
                },
                error: function (xhr, textStatus, errorThrown) {

                }
            });
        });

        $("#btn_DeleteQuery").click(function () {
            var queryGuid = sessionStorage.getItem("QueryGuid");
            $.ajax({
                url: '@Url.Action("DeleteSearchQuery", "Account")',
                data: { guid: queryGuid },
                dataType: 'json',
                type: "POST",
                success: function (result) {
                },
                complete: function (XMLHttpRequest, textStatus) {
                    $('#query_' + queryGuid).hide();
                    $("#queryModal").modal('hide');
                },
                error: function (xhr, textStatus, errorThrown) {

                }
            });
        });


    });


    function OpenDataDetail(obj)
    {
        var docId = $(obj).attr("data-docid");
        var filePath = $(obj).attr("data-file");
        var queryGuid = $(obj).attr("data-queryguid");
        var comment = $(obj).parent().prev().children().html();
        $("#hid_DocId").val(docId);
        $("#hid_FilePath").val(filePath);
        $("#myModal").modal('show');
        $("#hid_QueryGuid").val(queryGuid);
        $("#txt_Comments").val(comment);
    }
    function showDatePicker(obj) {
        var currentDate = $(obj).parent().next().html();
        var city = $(obj).html();
        var active_dates = JSON.parse(sessionStorage.getItem(city));

        $(obj).datepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            beforeShowDay: function (date) {
                var d = date;
                var curr_date = d.getDate();
                var month = d.getMonth() + 1;//Months are zero based
                var curr_month = month < 10 ? '0' + month : '' + month;
                var curr_year = d.getFullYear();
                var formattedDate = curr_year + "/" + curr_month + "/" + curr_date

                if ($.inArray(formattedDate, active_dates) != -1) {
                    return {
                        classes: 'activeClass'
                    };
                }
                return;
            }
        });
        $(obj).datepicker('setDate', currentDate);
        $(obj).datepicker('show');
      //  $(obj)

    }
    function ShowStatus(obj) {
        var selectedStatus = $(obj).children().attr("data-tag");
        var isViewed = "";
        if ($("#div_status_select").attr("data-status") != null) {
            isViewed = $("#div_status_select").attr("data-status");
        }
        if (isViewed != selectedStatus) {
            $("#div_status_select").attr("data-status", selectedStatus);
            $("#sp_view_status").html(selectedStatus);
            SearchData();
        }

    }
    function ShowImportant(obj) {
        var selectedImportant = $(obj).children().attr("data-tag");
        var important = "";
        if ($("#div_status_select").attr("data-important") != null) {
            important = $("#div_status_select").attr("data-important");
        }
        if (important != selectedImportant) {
            $("#div_status_select").attr("data-important", selectedImportant);
            $("#sp_important_status").html($(obj).children().html());
            SearchData();
        }
    }
    function RemoveData(obj)
    {

        var important = "False";
        var filePath = $(obj).attr("data-file");
        var docId = $(obj).attr("data-docid");
        if ($(obj).prop('checked')) {
            important = "False";
        }
        else {
            important = "True";
        }
        $.ajax({
            url: '@Url.Action("UpdateDocImportant", "Home")',
            data: { DocId: docId, DocFilePath: filePath, Important: important },
            dataType: 'json',
            type: "POST",
            success: function (result) {
               // $(obj).parent().parent().hide();

            },
            complete: function (XMLHttpRequest, textStatus) {
            },
            error: function (xhr, textStatus, errorThrown) {

            }
        });

    }
    function SearchFromQuery(temp, guid) {

        var cityArray = temp.CityName.split(",");
        $("#sel_search_CityName").val(cityArray);
        $("#sel_search_CityName").multiselect("refresh");


        var keyArray = temp.KeyWord.split(",");
        $("#sel_search_KeyWord").val(keyArray);
        $("#sel_search_KeyWord").multiselect("refresh");

        $("#txt_search_MeetingDate").val(temp.MeetingDate)
       // $("#div_status_select").attr("data-important", temp.Important);
        $("#div_status_select").attr("data-important", "No");
        $("#div_status_select").attr("data-status", temp.IsViewed);
        $("#sp_view_status").html(temp.IsViewed);

        //var importantStatus = temp.Important;
        //if (temp.Important == "All") {
        //    importantStatus = "Show All";
        //}
        $("#sp_important_status").html("");

        SearchData();

        $.ajax({
            url: '@Url.Action("AddSearchQueryAmount", "Account")',
            data: { guid: guid },
            dataType: 'json',
            type: "POST",
            success: function (result) {
            },
            complete: function (XMLHttpRequest, textStatus) {
            },
            error: function (xhr, textStatus, errorThrown) {

            }
        });
    }
    function SearchData()
    {
        var keyWord = "";
        var cityName = "";
        var isViewed = "";
        var isImportant = "";
        if ($("#sel_search_KeyWord").val() != null) {
            keyWord = $("#sel_search_KeyWord").val().toString();
        }
        if ($("#sel_search_CityName").val() != null) {
            cityName = $("#sel_search_CityName").val().toString();
        }
        if ($("#div_status_select").attr("data-status") != null) {
            isViewed = $("#div_status_select").attr("data-status");
        }
        if ($("#div_status_select").attr("data-important") != null) {
            isImportant = $("#div_status_select").attr("data-important");
        }
        var result = {
            CityName: cityName,
            MeetingDate: $("#txt_search_MeetingDate").val(),
            KeyWord: keyWord,
            IsViewed: isViewed
        };
        var temp = {
            CityName: cityName,
            MeetingDate: $("#txt_search_MeetingDate").val(),
            KeyWord: keyWord,
            IsViewed: isViewed,
            Important: isImportant
        };
        var tempQueryParams = function () {
            return temp;
        };


        $("#tb_departments").bootstrapTable('refresh', { queryParams: tempQueryParams, pageNumber: 1, pageSize: 10 });
        return result;
    }
    function expandAllRows()
    {
        $("#tb_departments").bootstrapTable('expandAllRows');
    }
    function collapseAllRows()
    {
        $("#tb_departments").bootstrapTable('collapseAllRows');
    }
    function ShowQueryDetail(obj)
    {
        $("#query-title").val($(obj).attr("data-title"));
        $("#query-content").text($(obj).attr("data-content"));
        sessionStorage.setItem("QueryGuid", $(obj).attr("data-query-guid"));
        $("#queryModal").find('.modal-dialog').css({
            width: '500px'
        });
        $("#queryModal").modal('show');
    }
    function loadQueryGroup()
    {
          $.ajax({
            url: '@Url.Action("GetSearchQuery", "Account")',
            dataType: 'json',
            type: "GET",
            success: function (result) {
              //  var obj = jQuery.parseJSON(result);
                if (result.length > 0) {
                    for (var i = 0; i < result.length; i++) {
                        var data = result[i];
                        var title = data.Title;
                        var subTitle = title.length > 15 ? title.substring(0, 12) + "..." : title;
                        var str = '<li class="list-group-item"  id="query_' + data.Guid + '">';
                        str += '  <a href="JavaScript:void(0)" onclick="SearchFromQuery(' + data.Content + ',\'' + data.Guid + '\')" style="color:#333333;" title="' + data.Title + '">' + subTitle+'</a>';
                        //str += '<a onclick="SearchFromQuery(' + data.Content + ', \'' + data.Guid + '\')" style="color:#333333;" title="' + data.Title + '">' + sbuTitle + '</a>';
                        str += '<span style="cursor:pointer;" class="badge editIcon" data-title="' + data.Title + '" data-content="' + data.Content + '" onclick="ShowQueryDetail(this) ;return false" data-query-guid="' + data.Guid + '" >Edit</span>';
                        str += '</li>';
                        $("#ul_queryGourp").append(str);
                    }
                }
            },
            complete: function (XMLHttpRequest, textStatus) {
            },
            error: function (xhr, textStatus, errorThrown) {

            }
        });
    }
</script>


