@using BusinessHandler.Model;
@{

    ViewBag.Title = "DataDetail";
    var model = (List<DocQueryResultModel>)Model;
}

<h2>Data Detail</h2>

<div class="panel-body" style="padding-bottom:0px;">
    <div class="panel panel-default">
        <div class="panel-heading">Searh Criteria</div>
        <div>
            <form id="formSearch" class="form-horizontal">
                <div class="form-group" style="margin-top:15px">
                    <label class="control-label col-sm-2" for="txt_search_CityName " style="width:10%">City Name</label>
                    <div class="col-sm-2">
                        <select id="sel_search_CityName" multiple="multiple">
                            @{
                                foreach (var r in model.GroupBy(x => x.CityName))
                                {
                                    <option value="@r.Key">@r.Key</option>

                                }
                            }

                        </select>
                        @*<input type="text" class="form-control" id="txt_search_CityName">*@
                    </div>
                    <label class="control-label col-sm-2" for="txt_search_MeetingDate" style="width:12%">Meeting Date</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="txt_search_MeetingDate">
                    </div>
                    <label class="control-label col-sm-2" for="sel_search_KeyWord" style="width:10%">Key Word</label>
                    <div class="col-sm-2">
                        @*<input type="text" class="form-control" id="txt_search_KeyWord">*@
                        <select id="sel_search_KeyWord" multiple="multiple">
                            @{
                                foreach (var r in model.GroupBy(x => x.KeyWord))
                                {
                                    <option value="@r.Key">@r.Key</option>

                                }
                            }

                        </select>

                    </div>
                    <div class="col-sm-2" style="text-align:left;">
                        <button type="button" style="margin-left:10px" id="btn_Query" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        <table id="tb_departments"></table>

    </div>

</div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Comments</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hid_DocId" />
                <input type="hidden" id="hid_FilePath" />
                <input type="hidden" id="hid_QueryGuid" />
                <textarea class="form-control" rows="3" id="txt_Comments"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn_Save_Comment">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(function () {
        var oTable = new TableInit();
        oTable.Init();

        var oButtonInit = new ButtonInit();
        oButtonInit.Init();

    });


    var TableInit = function () {
        var oTableInit = new Object();
        oTableInit.Init = function () {
            $('#tb_departments').bootstrapTable({
                url: '/Home/GetDataList',
                method: 'get',
                cache: false,
                pagination: true,
                sortable: true,
                queryParams: oTableInit.queryParams,
                sidePagination: "server",
                pageList: [10, 25, 50, 100],
                showColumns: true,
                minimumCountColumns: 2,
                uniqueId: "DocId",
                columns: [
                    {
                        field: 'CityName',
                        title: 'City Name'
                    },
                    {
                        field: 'DocUrl',
                        title: ' Document Url'
                    },
                    {
                        field: 'DocType',
                        title: 'Document Type'
                    },
                    {
                        field: 'MeetingTitle',
                        title: 'Meeting Title'
                    },
                    {
                        field: 'MeetingDateDisplay',
                        title: 'Meeting Date',
                        sortable: true
                    },
                    {
                        field: 'MeetingLocation',
                        title: 'Meeting Location'
                    },
                    {
                        field: 'KeyWord',
                        title: 'Key Word'
                    },
                     {
                         field: 'PageNumber',
                         title: 'Page Number'
                     },
                    {
                        field: 'Content',
                        title: 'Content'
                    },
                    {
                        field: 'Comment',
                        title: 'Comment'
                    },
                    {
                        field: 'Operation',
                        title: 'Operation',
                        align: 'center'
                    }
                ]

            });
        };


        oTableInit.queryParams = function (params) {
            var keyWord = "";
            var cityName = "";
            if ($("#sel_search_KeyWord").val() != null)
            {
                keyWord = $("#sel_search_KeyWord").val().toString();
            }
            if ($("#sel_search_CityName").val() != null) {
                cityName = $("#sel_search_CityName").val().toString();
            }
            var temp = {
                limit: params.limit,
                offset: params.offset,
                CityName: cityName,
                MeetingDate: $("#txt_search_MeetingDate").val(),
                KeyWord: keyWord,
                sortName:this.sortName,
               sortOrder: this.sortOrder
            };
            return temp;
        };
        return oTableInit;
    };


    var ButtonInit = function () {
        var oInit = new Object();
        var postdata = {};

        oInit.Init = function () {
            //初始化页面上面的按钮事件
        };

        return oInit;
    };

    $(document).ready(function () {
        $('#sel_search_CityName').multiselect({
            buttonWidth: '160px',
            includeSelectAllOption: true
        });
        $('#sel_search_KeyWord').multiselect({
            buttonWidth: '160px',
            includeSelectAllOption: true
        });
        $('#txt_search_MeetingDate').datepicker({
            format: 'yyyy/mm/dd'
        });
        $('#btn_Query').datepicker({
            format: 'yyyy/mm/dd'
        });
        
        $("#btn_Query").click(function () {
            var keyWord = "";
            var cityName = "";
            if ($("#sel_search_KeyWord").val() != null) {
                keyWord = $("#sel_search_KeyWord").val().toString();
            }
            if ($("#sel_search_CityName").val() != null) {
                cityName = $("#sel_search_CityName").val().toString();
            }
            var tempQueryParams = function () {
                var temp = {
                    CityName: cityName,
                    MeetingDate: $("#txt_search_MeetingDate").val(),
                    KeyWord: keyWord
                };
                return temp;
            };

            $("#tb_departments").bootstrapTable('refresh', { queryParams: tempQueryParams, pageNumber: 1, pageSize: 10 });
            //var dandomId = 1;
            //$("#tb_departments").bootstrapTable('updateRow', {


            //    index: 1,
            //    row: {
            //        Name: "1",
            //        ParentName: "2",
            //        Level: "3",
            //        Desc: "5"
            //    }
            //});

        });
        $("#btn_Save_Comment").click(function () {
            $.ajax({
                url: '@Url.Action("SaveComment", "Home")',
                data: { DocId: $("#hid_DocId").val(), Comment: $("#txt_Comments").val(), QueryFilePath: $("#hid_FilePath").val(), QueryGuid: $("#hid_QueryGuid").val()},
                dataType: 'json',
                type: "POST",
                success: function (result) {
                    alert("success");
                },
                complete: function (XMLHttpRequest, textStatus) {
                    $('#' + $("#hid_QueryGuid").val()).html($("#txt_Comments").val());
                    $("#myModal").modal('hide');
                },
                error: function (xhr, textStatus, errorThrown) {

                }
            });
        });


    });
    function OpenDataDetail(obj)
    {
        var docId = $(obj).attr("data-docid");
        var filePath = $(obj).attr("data-file");
        var queryGuid = $(obj).attr("data-queryguid");
        var comment = $(obj).parent().prev().children().html();
        $("#hid_DocId").val(docId);
        $("#hid_FilePath").val(filePath);
        $("#myModal").modal('show');
        $("#hid_QueryGuid").val(queryGuid);
        $("#txt_Comments").val(comment);
    }
    //function OpenDataDetail(docId) {
    //    $("#hid_DocId").val(docId);
    //    $("#myModal").modal('show');
    //}
</script>


